
<launch>
    <arg name="node_name"
         default="active_perception_node" />

    <node pkg="active_perception"
          type="active_perception_node"
          name="$(arg node_name)"
          output="screen">

        <rosparam command="load"
                  file="$(find active_perception)/config/config.yml" />

    </node>
     <rosparam command="load" param="autharl_robot_model" file="$(find autharl_description)/yaml/bacchus.yml" />

    <include file="$(find bacchus_robot)/launch/robot_state_publisher.launch"/>

</launch>
